# --- Secretos y entornos ---
.env
.env.*
!.env.example

# --- Java / Maven ---
target/

# --- Node / Frontend ---
node_modules/
dist/
*.tsbuildinfo
npm-debug.log*

# --- Editores / SO ---
.idea/
*.iml
.vscode/*
!.vscode/extensions.json
.DS_Store
